{{- if .Values.ingress.enabled -}}
{{- if .Values.ingress.cors.enabled -}}
apiVersion: traefik.containo.us/v1alpha1
kind: Middleware
metadata:
  name: cors
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "planning-poker.labels" . | nindent 4 }}
spec:
  headers:
    accessControlAllowCredentials: true
    accessControlAllowMethods:
      - "GET"
      - "POST"
      - "PUT"
      - "DELETE"
      - "PATCH"
      - "OPTIONS"
    accessControlAllowHeaders:
      - "Content-Type"
      - "Authorization"
      - "X-Requested-With"
    accessControlAllowOriginList:
      {{- toYaml .Values.ingress.cors.allowOrigins | nindent 6 }}
    accessControlMaxAge: 3600
    addVaryHeader: true
{{- end }}
{{- end }}
